
<!--
<div class="ui right aligned basic segment">
    <h5 class="ui header">Testi</h5>
</div>

<div class="ftable ftable--3cols ftable--collapse">
    {{#forEach data}} {{#if isFirst}}
    <div class="ftable-toprow clearfix">
        <div class="ftable-cell ftable-cell--head">{{name}}</div>
        <div style="order:2;" class="ftable-cell ftable-cell--price">{{latestSalePrice}}</div>
        <div style="order:2;" class="ftable-cell ftable-cell--price">{{latestNormalPrice}}</div>
    </div>
    {{else if isLast}}
    <div class="ftable-bottomrow clearfix">
        <div class="ftable-cell ftable-cell--head">{{name}}</div>
        <div style="order:2;" class="ftable-cell ftable-cell--price">{{latestSalePrice}}</div>
        <div style="order:2;" class="ftable-cell ftable-cell--price">{{latestNormalPrice}}</div>
    </div>
    {{else}}
    <div class="ftable-middlerow clearfix">
        <div class="ftable-cell ftable-cell--head">{{name}}</div>
        <div style="order:2;" class="ftable-cell ftable-cell--price">{{latestSalePrice}}</div>
        <div style="order:2;" class="ftable-cell ftable-cell--price">{{latestNormalPrice}}</div>
    </div>
    {{/if}} {{/forEach}}
</div>
-->
<table class="ui very compact table" id="sales_table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Store</th>
            <th>Sale price</th>
            <th>Normal price</th>
        </tr>
    </thead>
    <tbody>
        {{#forEach data}}
        <tr>
            <td>{{name}}</td>
            <td>{{category}}</td>
            <td>{{storeName}}</td>
            <td>{{latestSalePrice}}</td>
            <td>{{#if latestNormalPrice}}{{latestNormalPrice}}{{else}}N/A{{/if}}</td>
        </tr>
        {{/forEach}}
    </tbody>
</table>