<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Rulle's small website</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/custom3.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

</head>

<body class="pushable">

    <div class="ui left vertical inverted sidebar labeled icon menu">
        <a class="item" href="/">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="block layout icon"></i>
            Topics
        </a>
        <a class="item">
            <i class="smile icon"></i>
            Friends
        </a>
        <a href="/test" class="item">test</a>
    </div>
    <div class="ui pointing top large fixed menu" id="full_menu">
        <div class="ui container">
            <span class="header item">
                Rulle
            </span>
            <a href="/" class="item">
                <i class="home icon small"></i>Home</a>
            <!--<a href="/projects" class="item">Projects</a>-->
            <div class="ui dropdown item">
                <i class="folder open icon small"></i>Projects
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/projects/roguelike">Roguelike</a>
                    <a class="item" href="/projects/ohsiha">Ohsiha course project</a>
                    <a class="item" href="/projects/jodatut">Jodat course project</a>
                    <a class="item" href="/projects/website">Website</a>
                    <a class="item" href="/projects/scraper">Price scraper</a>
                </div>
            </div>
            <a href="/about" class="item">
                <i class="question icon small"></i>About</a>
            <div class="right menu">
                <a href="https://twitter.com" class="item">
                    <i class="twitter icon"></i>
                </a>
                {{#if userIsLogged}}
                <a href="/dashboard" class="item" id="admin_popup">
                    <i class="fas fa-user-cog"></i>
                </a>
                {{/if}}

            </div>
        </div>
    </div>
    <div class="ui pointing top large fixed menu" id="lesser_menu">
        <!-- minimized menu -->
        <div class="ui container">
            <a class="item">
                <i class="sidebar icon"></i>
                Menu
            </a>
        </div>
    </div>
    <div class="pusher" style="display: flex; flex-direction: column;">
        <!-- content area -->
        <div class="content_wrap" style="padding-left: calc(100vw - 100%)!important; flex-grow: 1;">
            <div class="ui container">
                <h3 class="ui header" style="padding-top: 2rem!important;">
                    <div class="ui breadcrumb">
                        {{#equalsLength breadcrumbs 1}}
                        <p class="section">{{breadcrumbs.[0].breadcrumbName}}</p>
                        {{else}} {{#forEach breadcrumbs}} {{#if isLast}}
                        <p class="section">{{breadcrumbName}}</p>
                        {{else}}
                        <a href="{{breadcrumbUrl}}" class="section">{{breadcrumbName}}</a>
                        <span class="divider">/</span>
                        {{/if}} {{/forEach}} {{/equalsLength}}

                    </div>
                </h3>
                <div class="ui divider"></div>
            </div>

            {{{body}}}


        </div>
        <!-- end of content_wrap -->
        <div class="ui inverted vertical footer segment">
            <!-- footer -->
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="column">
                        <h4 class="ui inverted header">Copyright</h4>
                        <p>
                            &copy;
                            <script>document.write(new Date().getFullYear());</script>, Jussi Ristimäki, All Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of footer -->
    </div>
    <!-- end of pusher -->

    <script src="/axios/axios.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="/js/page.js"></script>

</body>

</html>