<div class="row justify-content-start"> <!-- Heading -->
  <div class="col box"><h1 class="text-left">
		{{#if gameStart}}
		<strong>></strong>Rulle's projects<strong>></strong>{{gameId}}<strong>></strong>to {{translateTo}}</h1></div>
		{{else}}
		<strong>></strong>Rulle's projects<strong>></strong>{{gameId}}</h1></div>
		{{/if}}
</div>
<hr>
{{#if gameStart}}
	<!-- Game -->
	<div class="row justify-content-center">
		<div class="col-sm-8 align-text-center">
			<div class="card text-dark bg-light mb-3 card-box">
				<div class="card-header game-card-header">
          <h5>{{gameId}} to {{translateTo}}</h5>
				</div>
				<div class="card-body">
          <div class="row align-items-center" style="height: 100%;">
            <div class="col-sm-6 game-card-char">
              <h1 class="display-1 card-title">ひ</h1>
            </div>
            <div class="col-sm-6 game-card-buttons-col">
              <div class="btn-group-vertical game-card-buttons-group" role="group">
                <div class="btn-group game-card-buttons">
                  <button type="button" class="btn btn-dark border-bottom-0">1</button>
                  <button type="button" class="btn btn-dark border-bottom-0">3</button>
                </div>
                <div class="btn-group game-card-buttons">
                  <button type="button" class="btn btn-dark">4</button>
                  <button type="button" class="btn btn-dark">6</button>
                </div>
              </div>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>
	<!-- Game End -->
  <script>
    var chosenSet = "{{gameId}}";
    var chosenToTranslate = "{{toTranslate}}"
    
  </script>
  <script src="/wanakana/wanakana.js"></script>
  <script src="/js/game.js"></script>

{{else}}
<!--
	<div class="row">
		<div class="col-sm-6">
			<div class="card text-white bg-dark mb-3 card-box">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a class="btn-block btn btn-light" href="/game/hiragana/romaji" role="button" id="toRomaji"><strong>To romaji</strong></a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card text-white bg-dark mb-3 card-box">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a class="btn-block btn btn-light" href="/game/hiragana/hiragana" role="button" id="toHiragana"><strong>To hiragana</strong></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="card text-white bg-dark mb-3 card-box">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-6">
					    <a class="btn-block btn btn-light float-left" href="/game/hiragana/romaji" role="button" id="toRomaji"><strong>To romaji</strong></a>
						</div>
						<div class="col-6">
					    <a class="btn-block btn btn-light float-right" href="/game/hiragana/hiragana" role="button" id="toHiragana"><strong>To hiragana</strong></a>
						</div>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>-->
  <div class="row justify-content-center">
    <div class="col-6 align-text-center">
      <div class="card text-dark bg-light mb-3">
        <div class="card-body"> <!-- Card Body -->
          <h5 class="card-title">Hiragana game</h5>
          <p class="card-text">Choose before starting the game.</p>
          <!--
          <div class="row">
            <div class="col-3">
              <strong class="option-text">Options: </strong>
            </div>
            <div class="col-6">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-dark active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                </label>
                <label class="btn btn-dark">
                  <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                </label>
                <label class="btn btn-dark">
                  <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <strong class="option-text">Count: </strong>
            </div>
            <div class="col-6">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-dark active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Random
                </label>
                <label class="btn btn-dark">
                  <input type="radio" name="options" id="option2" autocomplete="off"> All
                </label>
                <label class="btn btn-dark">
                  <input type="radio" name="options" id="option3" autocomplete="off"> Custom
                </label>
              </div>
            </div>
          </div> -->
        </div>
        <div class="card-footer"> <!-- Card Footer -->
          <div class="row">
            <div class="col-6">
              <a class="btn-block btn btn-dark float-left" href="/game/{{gameId}}/romaji" role="button" id="toRomaji"><strong>To romaji</strong></a>
            </div>
            <div class="col-6">
              <a class="btn-block btn btn-dark float-right" href="/game/{{gameId}}/hiragana" role="button" id="toHiragana"><strong>To hiragana</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
