<div class="ui blue container segment" style="margin-bottom: 5rem!important;">
    <div class="ui cards">
    {{#forEach siteProjects}}
    <div class="card" id="{{shortName}}">
        <div class="content">
            <div class="header">{{name}}</div>
            <!--
            <a class="ui top right attached label">
                Remove
                <i class="icon close"></i>
            </a>-->
            <div class="meta">
                {{#if websiteProject}} Project on the website {{else}} Project on Github {{/if}}
            </div>
            <div class="description">
                <p>{{shortDesc}}</p>
            </div>
        </div>
        <div class="extra content">
            <div class="ui basic labeled icon button">
                <i class="sign in alternate icon"></i>
                <a href="{{websiteProjectURL}}">Website</a>
            </div>
            <div class="ui basic right labeled icon button">
                <i class="github icon"></i>
                <a href="http://github.com/rutle/{{repositoryName}}">Github</a>
            </div>
        </div>
    </div>
    {{/forEach}}
</div>
<div class="c-card">
  <!--
  <div class="c-icon">
  <i class="fa-4x fas fa-database"></i>
  </div>
  -->
  <div class="c-content">
    <div class="c-header">
     Sales Scraper
    </div>
    <div class="c-desc">
    Small personal project to scrape finnish computer hardware sites for products on sale.
    </div>
  </div>
</div>
<!--
  <div class="ui segment">
    <div class="ui items">
      <div class="item">
        <a class="ui small image"><img></a>
        <div class="content">
         <a class="header">Cute Dog</a>
          <div class="description">
            <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are </p>
            <p>cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
            <p>Many people also have their own barometers for what makes a cute dog.</p>
          </div>
        </div>
      </div>
    </div>
  </div>-->

</div>